.footer-paragraph-one,
.footer-paragraph-two {
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.42;
}

.footer-list-link {
  color: var(--main-text-color);
  font-size: 14px;
  line-height: 1.42;
  font-weight: bold;
  outline: 2px solid tomato;
}

.footer-list-link:hover {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.42;
  font-weight: bold;
  outline: 2px solid tomato;
}

.footer-list-link:focus {
  color: var(--accent-color);
  font-size: 14px;
  line-height: 1.42;
  font-weight: bold;
  outline: 2px solid tomato;
}

.bottom-line {
  display: flex;
  justify-content: center;
  outline: 2px solid tomato;
  padding-bottom: 0px;
  padding-top: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-group-logos {
  display: flex;
  justify-content: center;
  outline: 2px solid tomato;
  margin-top: 0;
  margin-bottom: 0;
}

.footer-nav {
  display: flex;
  justify-content: center;
  outline: 2px solid tomato;
  align-items: center;
  padding-top: 106px;
}

.footer-space {
  background-color: var(--gray-background);
}

.media-item {
  outline: 2px solid tomato;
  margin-right: 25.6px;
}
.media-item:last-child {
  margin-right: 0;
}

.footer-paragraph-two {
  margin-left: 14px;
  display: inline-block;
  outline: 2px solid tomato;
}

.footer-paragraph-one {
  outline: 2px solid tomato;
  padding-bottom: 0px;
  padding-top: 0px;
}

.logo-footer-image {
  outline: 2px solid tomato;
  margin-right: 141px;
  vertical-align: middle;
  margin-left: 141px;
  margin-right: 141px;
}

.item-left {
  margin-right: 81px;
}

.item-right {
  margin-left: 54px;
}
