<footer class="footer-space">
  <div class="footer-nav">
    <a class="link footer-list-link item-left" href="">Home</a>
    <a class="link footer-list-link" href="">About</a>
    <!-- <a class="logo-footer" href="./index.html"
          ><img
            class="logo-footer-image"
            src="./images/logo-footer.png"
            alt="logo"
            width="41"
            height="39"
        /></a> -->
    <a class="link footer-list-link" href="">Service</a>
    <a class="link footer-list-link item-right" href="">Blog</a>
  </div>
  <ul class="list footer-group-logos">
    <li class="media-item">
      <!-- <a href=""
            ><img
              src="./images/facebook-logo-round.svg"
              alt="facebook_logo"
              width="40"
              height="40"
          /></a> -->
    </li>

    <li class="media-item">
      <!-- <a href=""
            ><img
              src="./images/twitter-logo-round.svg"
              alt="twitter-logo"
              width="40"
              height="40"
          /></a> -->
    </li>

    <li class="media-item">
      <!-- <a href=""
            ><img
              src="./images/instagram-logo-round.svg"
              alt="instagram-logo"
              width="40"
              height="40"
          /></a> -->
    </li>

    <li class="media-item">
      <!-- <a href=""
            ><img
              src="./images/youtube-logo-round.svg"
              alt="youtube-logo"
              width="40"
              height="40"
          /></a> -->
    </li>

    <li class="media-item">
      <!-- <a href=""
            ><img
              src="./images/pinterest-logo-round.svg"
              alt="pinterest-logo"
              width="40"
              height="40"
          /></a> -->
    </li>
  </ul>
  <div class="bottom-line">
    <p class="footer-paragraph-one">&copy; 2010-2020</p>
    <p class="footer-paragraph-two">Privacy-Terms</p>
  </div>
</footer>
