<section class="gifts">
    <h2>Gifts for all Occasions</h2>
    <p>“Try our web app to find the best gifts for all occasions”</p>
    <ul>
      <li>
        <!-- <img src="./images/candle.jpg" alt="candle" width="270" /> -->
        <p>Birthday</p>
        <p>See More ›</p>
      </li>
      <li>
        <!-- <img src="./images/shoes.jpg" alt="shoes" width="270" /> -->
        <p>Anniversary</p>
        <p>See More ›</p>
      </li>
      <li>
        <!-- <img src="./images/kiss.jpg" alt="kiss" width="270" /> -->
        <p>Valentine's Day</p>
        <p>See More ›</p>
      </li>
      <li>
        <!-- <img src="./images/tree.jpg" alt="tre" width="270" /> -->
        <p>Christmas</p>
        <p>See More ›</p>
      </li>
    </ul>
  </section>