<header class="header-fixed">
  <div class="container">
    <!-- <a class="logo-link" href="./index.html"
       ><img src="./images/logo.png" alt="logo" width="41" height="39"
    /></a> -->

    <nav>
      <ul class="header-nav-list list">
        <li class="header-list-item">
          <a class="header-list-link link" href="">Home</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link link" href="">About us</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link link" href="">Services</a>
        </li>
        <li class="header-list-item">
          <a class="header-list-link link" href="">Blogs</a>
        </li>
      </ul>
    </nav>

    <button class="header-button button" type="button">GIFT FINDER</button>
  </div>
</header>