

    <!-- hero section -->
    <section class="hero">
     <div class="container">
      <div class="hero-text">
        <h1 class="hero-title">Find a gift for your wife or girlfriend</h1>
      <p class="hero-subtitle">
        Struggling to find a gift for your wife or girlfriend? No problem!
      </p>
      <button class="hero-button" type="button">Find gift now</button>
      </div>
      <!-- <img class="img-hero"
        
        src="./images/background.jpg"
        alt="happy couple"
        width="720"
        height="700"
      /> -->
     </div>
    </section>